<div id="<%= dom_id debt %>" class="my-3">
  <p>
    <strong>Pessoa:</strong>
    <%= debt.person.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= debt.amount %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= debt.observation %>
  </p>

</div>
